<% if @total_cost.present? %>
    <h3><%= l(:label_spent_cost) %></h3>
    <p><span class="icon icon-cost"><%= @total_cost %></span></p>
    <p>
      <% if User.current.allowed_to?(:log_cost, @project) %>
          <%= link_to l(:button_log_cost), new_project_cost_entry_path(@project) %> |
      <% end %>
      <%= link_to(l(:label_details), project_cost_entries_path(@project)) %> |
      <%= link_to(l(:label_report), report_project_cost_entries_path(@project)) %>
    </p>
<% end %>
